1) todoList.addTodo should add objects
2) todoList.changeTodo should change the todoText property
3) todoList.toggleCompleted should change the completed property


1) addTodo : function(todoText){
    this.todos.push({
      todoText : todoText,
      completed : false
    });
    this.displayTodos();
  }

2) changeTodo : function(position, todoText){
    this.todos[position].todoText = todoText;
    this.displayTodos();
  },

3) toggleCompleted : function(position){
    var todo = this.todos[position];
    todo.completed = !todo.completed;
    this.displayTodos();
  }

