1) It should have working controls for .addTodo()
2) It should have working controls for .changeTodo()
3) It should have working controls for .deleteTodo()
4) It should have working controls for .toggleCompleted()